#contact {
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.contact-icons{
    display: flex;
    justify-content: center;
}
.contact-icon a{
    color: white;
    font-size: 24px;
    margin: 10px;
    text-decoration: none;
    transition: transform 300ms;
}

.contact-icon:hover{
    a{
        color: red;
    }
    transform: scale(1.1);
}