.project-container{
    display: flex;
    gap: 20px;
}
.project{
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 400px;
}
.project-name h4{
    margin: 0;
    padding: 0;
    margin-top: 4px;
}
.project-name{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    color: var(--contrast-font-color);
}
.project-image img{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}
.tech-stack ul{
    display: flex;
    margin: 0;
    padding: 0;
    li{
        color: rgb(255, 182, 193);
        list-style: none;
        display: flex;
        gap: 6px;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
    }
}

.description p{
    margin: 0;
    padding: 0;
}

.source-code{
    display: flex;
    flex-direction: column;
}
.source-code{
    display: block;
}
.source-code a{
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

.source-code a:hover{
    color:rgb(143, 143, 255)
}
@media (max-width:1080px) {
    .tech-stack ul{
        flex-wrap: wrap;
    }
    .project-container{
        display: flex;
        flex-direction: column;
    }
}