#projects{
    padding-left: 20px;
    width: 100%;
}
.project{
    margin-bottom: 30px;
    display: flex;
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
}
.project h3{
    color: var(--contrast-font-color);
}
.project-details{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.tech-stack:hover{
    transform: translateY(-10px);
}

.tech-stack{
    flex: 1;
    padding: 15px;
    border-radius: 3px;
    background-color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.tech-stack h4{
    color: var(--contrast-font-color);
}
.tech-stack li{
    list-style: none;
    padding: 8px;
    font-size: 18px;
    border-bottom: 1px solid #444;
}
.description{
    flex: 2;
    padding: 15px;
    border-radius: 3px;
    background-color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.description:hover{
    transform: translateY(-10px);
}
.description p{
    line-height: 1.6;
}
.description,.tech-stack{
    transition: all 300ms;
}

@media (max-width:1080px) {
    .tech-stack ul{
        padding: 0;
    }
   .tech-stack-list{
    display: flex;
    gap: 4px;
   }
}