/* Technologies Section */
.technologies {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.technologies h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tech-item {
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.tech-item:hover {
    transform: translateY(-10px);
}

.tech-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.tech-item p {
    font-size: 1em;
    color: #666;
}